NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCjapggM24ZFEeUADI6d-xvcTwQTJrz_9g
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=lead-expert-f0ef2.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lead-expert-f0ef2
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=lead-expert-f0ef2.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=327754810646
NEXT_PUBLIC_FIREBASE_APP_ID=1:327754810646:web:466c0136a2dc57cc01bc37

OPENAI_API_KEY=
GOOGLE_MAPS_API_KEY=

META_VERIFY_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=

FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
